@use "../../styles/font";

.text {
    &_body-xs {
        @include font.body-xs;
    }

    &_body-s {
        @include font.body-s;
    }

    &_body-m {
        @include font.body-m;
    }

    &_header-l {
        @include font.header-l;
    }

    &_header-m {
        @include font.header-m;
    }

    &_header-s {
        @include font.header-s;
    }

    // Цвета текста
    &_text-dark-header {
        color: var(--text-dark-header) !important;
    }

    &_text-dark-normal {
        color: var(--text-dark-normal) !important;
    }

    &_text-dark-caption {
        color: var(--text-dark-caption) !important;
    }

    &_text-light-header {
        color: var(--text-light-header) !important;
    }

    &_text-light-normal {
        color: var(--text-light-normal) !important;
    }

    &_text-light-caption {
        color: var(--text-light-caption) !important;
    }

    &_danger {
        color: var(--danger) !important;
    }

    &_special {
        color: var(--special) !important;
    }

    &_success {
        color: var(--success) !important;
    }
}
