        .table {
        border-collapse: collapse;
        border: 0.1rem solid #E6E6E6;
        width: 100%;
        overflow-x: auto;
    
        .head {
            font-size: 1.8rem;
            color: var(--text-dark-header);
            font-weight: 600;
            width: 100%;
            
            .headRow {
                display: flex;
                background-color: rgb(15 45 105 / 5%);
                text-align: left;
                padding-right: 15px;
    
                .headBox {
                    border: 0.1rem solid #E6E6E6;
                    padding: 0.4rem;
                    width: 10rem;
                    overflow-x: auto;

                }
            }
        }
    
        .body {
            font-size: 1.6rem;
            color: var(--text-dark-normal);
            .bodyRow {
                background-color: #fff;
                display: flex;


               .bodyBox {
                overflow-x: auto;
                border: 0.1rem solid #E6E6E6;
                padding: 0.4rem;
                width: 10rem;
                // height: auto;
               }
            }
        }
    }