.tableContainer {
  .head {
    font-size: 1.8rem;
    color: var(--text-dark-header);
    font-weight: 600;

    .headRow {
      display: flex;
      background-color: rgb(15 45 105 / 5%);

      .headBox {
        flex: 1;
        border: 0.1rem solid #e6e6e6;
        padding: 0.4rem;
        text-align: left;
      }
    }
  }

  .body {
    font-size: 1.6rem;
    color: var(--text-dark-normal);

    .bodyRow {
      display: flex;
      background-color: #fff;

      .bodyBox {
        flex: 1;
        border: 0.1rem solid #e6e6e6;
        padding: 0.4rem;
      }
    }
  }
}